@font-face {
  font-family: "applef";
  src: url(../fonts/sf-pro-icons_light.woff2);
}

nav a {
  color: white !important;
  font-size: 12px !important;
  font-family: applef;
}
nav i {
  color: white !important;
  
}
